{
  "extends": ["eslint:recommended", "fliplet"],
  "rules": {
    "no-console": "off",
    "camelcase": "off",
    "no-process-exit": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true
  }
}
