---
---

@import "{{ site.theme }}";

$primaryBackground: #153c49;
$lightBackground: #f2f6f7;

p {
  line-height: 1.8;
}

ol, ul {
  line-height: 1.8;
}

ol > li,
ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

ol > li:only-child,
ul > li:only-child {
  border-bottom: 0;
}

ol > li > ul > li {
  font-weight: normal;
  border-bottom: 0;
}

ol > li > ul,
ul > li > ul {
  font-weight: normal;
}

.page-header {
  background-color: $lightBackground;
  background-image: linear-gradient(-120deg, $lightBackground, $lightBackground);
  padding: 0;

  .content {
    text-align: left;
    max-width: 64rem;
    margin: 0 auto;
    padding: 2rem 6rem;

    .logo {
      display: block;
      width: 100px;
      height: 40px;
      background: url(/assets/img/logo.png) no-repeat left center;
      background-size: contain;
    }
  }
}

.project-name {
  color: $primaryBackground;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}

.project-tagline {
  color: rgba(21, 60, 73, 0.6);
}

.main-content {
  h1, h2, h3, h4 {
    color: $primaryBackground;
  }

  h1 {
    display: none;
  }

  h2 {
    font-weight: bold;
    font-size: 34px;
  }

  h3 {
    font-weight: bold;
    opacity: 0.5;
  }
}

.buttons a {
  @extend .btn;

  border: 2px solid $primaryBackground;
  color: $primaryBackground;
  font-size: 1rem;
  padding: 0.5rem 1rem;

  &:hover {
    border-color: $primaryBackground;
    background-color: $primaryBackground;
    color: #FFF;
  }
}

.blocks {
  display: flex;
}

.blocks a {
  text-decoration: none;
  width: 33.333%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blocks a:first-child {
  margin-right: 10px;
}

.blocks a:last-child {
  margin-left: 10px;
}

.blocks div {
  padding: 15px;
  border-radius: 7px;
  background: rgba(27,34,51,1);
}

.blocks a:hover div {
  background: #1e6bb8;
}

.blocks h4 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  color: #fff;
}

.blocks p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: rgba(81, 234, 255, 0.6);
}

.ais-search-box--input {
  color: #153c49;
}

.ais-hits {
  .ais-hits--item {
    a {
      display: block;
      background: white;
      border-radius: 7px;
      padding: 10px 20px;
      margin: 20px 0;
      border: 1px solid #d9e6e9;
      transition: all 0.2s;

      h4 {
        color: #153c49;
        font-size: 22px;
        font-weight: normal;
        margin: 0 0 10px 0;
      }

      p {
        color: rgba(21, 60, 73, 0.6);
        margin: 0;
      }

      hr {
        height: 1px;
        border: 0;
        background: #DDD;
      }

      span {
        font-size: 15px;
        color: rgba(21, 60, 73, 0.4);

        strong {
          color: #153c49;
        }
      }

      &:hover {
        text-decoration: none;
        border-color: #AAA;
        box-shadow: 0 1px 5px rgba(0,0,0,0.1);
        transform: scale(1.05);
      }
    }
  }

  &.ais-hits__empty {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    background: white;
    border-radius: 7px;
    padding: 15px 20px;
    margin: 20px 0;
    border: 1px solid #d9e6e9;
  }

  .ais-Highlight {
    background-color: #fff38c;
    font-style: normal;
    font-weight: bold;
  }
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 0;
  }
}

@media screen and (max-width: 64em) and (min-width: 42em) {
  .page-header {
    padding: 0;
  }

  .page-header .content {
    padding: 3rem 4rem;
  }

  .page-header .content .logo {
    display: none;
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    padding: 0;
  }

  .page-header .content {
    padding: 2rem 1rem;
  }

  .page-header .content .logo {
    display: none;
  }

  .blocks {
    flex-direction: column;
  }

  .blocks a {
    width: 100%;
  }

  .blocks a:first-child {
    margin-right: 0;
  }

  .blocks a:last-child {
    margin-left: 0;
  }
}