---
---

@import "{{ site.theme }}";

$primaryBackground: #00ABD2;

.page-header {
  background-color: $primaryBackground;
  background-image: linear-gradient(-120deg, darken(#00ABD2, 10%), #00ABD2);
}

.project-name a {
  color: #FFF;
}

.main-content {
  h1, h2, h3, h4 {
    color: $primaryBackground;
  }

  h1 {
    text-align: center;
  }
}

.btn {
  border: 2px solid $primaryBackground;
  color: $primaryBackground;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}