---
---

@import "{{ site.theme }}";

$primaryBackground: #36344c;
$lightBackground: #f8f6f7;

$secondaryBackground: #4279ca;

$warningColor: #fdff6b;
$warningTextColor: #6c6d00;

$sidebarWidth: 250px;

@font-face {
  font-family: 'BASE1';
  src: url('/assets/fonts/base64.eot');
  src: local('☺'), url('/assets/fonts/base64.woff') format('woff'), url('/assets/fonts/base64.ttf') format('truetype'), url('/assets/fonts/base64.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'BASE1';
  -webkit-font-smoothing: antialiased;
}

a {
  color: $secondaryBackground;
}

p {
  line-height: 1.8;
}

ol, ul {
  line-height: 1.8;
}

ol > li,
ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

ol > li:only-child,
ul > li:only-child {
  border-bottom: 0;
}

ol > li > ul > li {
  font-weight: normal;
  border-bottom: 0;
}

ol > li > ul,
ul > li > ul {
  font-weight: normal;
}

#page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 100%;
}

#poc {
  width: $sidebarWidth;
  background-color: $primaryBackground;
  padding: 20px;
  overflow-y: auto;

  .logo {
    display: block;
    width: 100px;
    height: 40px;
    background: url(/assets/img/logo-white.png) no-repeat left center;
    background-size: contain;
  }

  .list {
    margin: 20px 0 40px;

    a, p {
      display: block;
      font-size: 14px;
      color: #FFF;
      margin: 0;

      &.title-H1 {
        margin-top: 20px;
        font-weight: bold;
        font-size: 16px;
        padding: 17px 0;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(255,255,255,0.1);

        &:first-child {
          margin-top: 0;
        }
      }

      &.title-H2 {
        margin-top: 20px;
        font-size: 14px;

        &:first-child {
          margin-top: 0;
        }
      }

      &.title-H3 {
        color: #9c9ba5;
        font-size: 13px;
        margin: 5px 7px;

        span {
          background: #d05c67;
          color: white;
          display: inline-block;
          text-transform: uppercase;
          border-radius: 5px;
          padding: 2px 4px;
          font-size: 10px;
          line-height: 100%;
        }
      }

      &.title-H4 {
        opacity: 0.3;
        font-size: 12px;
        margin: 5px 14px;
      }
    }

    .boxes {
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: block;
        flex: 1;
        border: 2px solid rgba(255,255,255,0.2);
        border-radius: 5px;
        text-align: center;
        padding: 5px 0;

        &:hover {
          background: #FFF;
          color: $primaryBackground;
          text-decoration: none;
        }

        &:first-child {
          margin-right: 5px;
        }

        &:last-child {
          margin-left: 5px;
        }
      }
    }
  }
}

#page-content {
  overflow-y: scroll;
  height: 100%;
  flex: 1;
}

#toc {
  width: $sidebarWidth;
  background-color: $lightBackground;
  padding: 20px;
  overflow-y: auto;
  flex: 0 1 auto;

  h2 {
    font-size: 15px;
    color: $primaryBackground;
  }

  .list {
    margin: 20px 0 40px;

    a, p {
      display: block;
      font-size: 14px;
      color: $primaryBackground;
      margin: 0;

      &.title-H1 {
        margin-top: 20px;
        font-weight: bold;
        font-size: 16px;
        padding: 17px 0;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(255,255,255,0.1);

        &:first-child {
          margin-top: 0;
        }
      }

      &.title-H2 {
        margin-top: 20px;
        font-size: 14px;

        &:first-child {
          margin-top: 0;
        }
      }

      &.title-H3 {
        opacity: 0.6;
        font-size: 13px;
        margin: 5px 7px;
      }

      &.title-H4 {
        opacity: 0.4;
        font-size: 12px;
        margin: 5px 14px;
      }
    }
  }
}

.title-H4 + .title-H3 {
  margin-top: 20px;
}

.page-header {
  background-color: $lightBackground;
  background-image: linear-gradient(-120deg, $lightBackground, $lightBackground);
  padding: 0;

  .content {
    text-align: left;
    max-width: 64rem;
    margin: 0 auto;
    padding: 2rem 4rem;
  }
}

.is-beta .page-header {
  background-color: $warningColor;
  background-image: linear-gradient(0, $warningColor, lighten($warningColor, 10%));
  border-bottom: 1px solid #dee040;
}

.project-name {
  color: $primaryBackground;
  font-weight: bold;
  display: block;
  margin-bottom: 35px;

  &:hover {
    text-decoration: none;
  }
}

.project-tagline {
  color: rgba(21, 60, 73, 0.6);
}

.main-content {
  padding: 2rem 4rem;

  h1, h2, h3, h4, h5 {
    color: $primaryBackground;
  }

  h1 {
    display: none;
  }

  h2 {
    font-weight: bold;
    font-size: 34px;
  }

  h3 {
    font-weight: bold;
    opacity: 0.8;
  }

  h4 {
    font-weight: bold;
  }

  h5 {
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  code {
    font-size: 0.9em;
  }
}

.buttons a {
  @extend .btn;

  border: 2px solid $primaryBackground;
  color: $primaryBackground;
  font-size: 1rem;
  padding: 0.5rem 1rem;

  &:hover {
    border-color: $primaryBackground;
    background-color: $primaryBackground;
    color: #FFF;
  }
}

.blocks {
  display: flex;
}

.blocks .bl {
  text-decoration: none;
  width: 33.333%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blocks .two {
  width: 50%;
}

.blocks .bl:first-child {
  margin-right: 10px;
}

.blocks .bl:last-child {
  margin-left: 10px;
}

.blocks .bl div {
  padding: 15px;
  border-radius: 7px;
  background: $primaryBackground;
}

.blocks a:hover div {
  background: lighten($primaryBackground, 20%);
}

.blocks h4 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  color: #fff;
}

.blocks p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}

.info {
  background: #36344c;
  padding: 15px 20px;
  border-radius: 7px;
  color: rgba(255,255,255,0.8);
}

.warning {
  background: $warningColor;
  padding: 15px 20px;
  border: 1px solid #dee040;
  border-radius: 7px;
  color: $warningTextColor;
}

.warning code {
  background: $warningTextColor;
  color: #FFF;
}

.warning code.success {
  background: green;
}

.search-handle {
  transition: opacity 0.5s;
  position: fixed;
  top: 10px;
  left: 170px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  z-index: 1;

  i {
    text-decoration: none;
  }

  &:hover {
    color: #FFF;
    text-decoration: none;
  }

  .has-scrolled & {
    opacity: 1;
    pointer-events: all;
  }
}

.is-beta .search-handle {
  background-color: $warningColor;
  color: $warningTextColor;
}

.ais-search-box--input {
  transition: border 1s;
  color: #153c49;

  &.in-focus {
    border-color: #1b2233;
    border-width: 2px;
  }
}

.ais-hits {
  .ais-hits--item {
    a {
      display: block;
      background: white;
      border-radius: 7px;
      padding: 10px 20px;
      margin: 20px 0;
      border: 1px solid #d9e6e9;
      transition: all 0.2s;

      h4 {
        color: #153c49;
        font-size: 22px;
        font-weight: normal;
        margin: 0 0 10px 0;
      }

      p {
        color: rgba(21, 60, 73, 0.6);
        margin: 0;
      }

      hr {
        height: 1px;
        border: 0;
        background: #DDD;
      }

      span {
        font-size: 15px;
        color: rgba(21, 60, 73, 0.4);

        strong {
          color: #153c49;
        }
      }

      &:hover {
        text-decoration: none;
        border-color: #AAA;
        box-shadow: 0 1px 5px rgba(0,0,0,0.1);
        transform: scale(1.05);
      }
    }
  }

  &.ais-hits__empty {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    background: white;
    border-radius: 7px;
    padding: 15px 20px;
    margin: 20px 0;
    border: 1px solid #d9e6e9;
  }

  .ais-Highlight {
    background-color: #fff38c;
    font-style: normal;
    font-weight: bold;
  }
}

@media screen and (max-width: 1200px) {
  #toc {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #poc {
    display: none;
  }
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 0;
  }
}

@media screen and (max-width: 64em) and (min-width: 42em) {
  .page-header {
    padding: 0;
  }

  .page-header .content {
    padding: 3rem 4rem;
  }

  .page-header .content .logo {
    display: none;
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    padding: 0;
  }

  .page-header .content, .main-content {
    padding: 2rem 1rem;
  }

  .page-header .content .logo {
    display: none;
  }

  .blocks {
    flex-direction: column;
  }

  .blocks a {
    width: 100%;
  }

  .blocks a:first-child {
    margin-right: 0;
  }

  .blocks a:last-child {
    margin-left: 0;
  }

  .search-handle {
    display: none;
  }
}